<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">CoverText</th>
      <th scope="col">Commentaire</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (book of books; track $index) {
      <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author.FirstName }} {{ book.author.LastName }}</td>
      <td>{{ book.coverText }}</td>
      <td>{{ book.comment }}</td>
      <td>
        <app-panel-card [book]="book"></app-panel-card>
      </td>
    </tr>
    }
  </tbody>
</table>
